@{
    ViewBag.Title = "Home Page";
}

<div class="row text-center">
    <h2>Welcome</h2>
    <p>This is a sample application used to demostrate GCDS Authentication using OIDC.</p>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4>Specs:</h4>
        <ul>
            <li>Visual Studio 2022 Template: ASP.NET Web Application (.NET Framework)</li>
            <li>MVC Application</li>
            <li>Target Framework: .NET 4.72</li>
            <li>Authentication: OIDC</li>
        </ul>
        <h4>Testing the application:</h4>
        <ul>
            <li>Run the Application from Visual Studio 2022 (F5)</li>
            <li>You will be see a notice for U.S. Government Systems. Click "I Agree"</li>
            <li>Click Login, then select your CAC and enter your PIN when prompted</li>
            <li>You will be redirected back to this home page, with your name or EDIPI displayed at the top right</li>
            <li>Click the "My Claims" link in the top navigation to view all of your claims</li>
            <li>Click the "Sign Out" link at the top right</li>
            <li>Click the "Sign In" link at the top right to log back in</li>
        </ul>
    </div>
</div>
