@page
@model ClaimsModel

<div>
    <h1 class="text-center display-4">My Claims</h1>
    @if (@Model.MyClaims != null)
    {
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                <th>Claim</th>
                <th>Value</th>
            </tr>
            @foreach (var claim in @Model.MyClaims)
            {
                <tr>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </table>
    }
</div>
